/* Large Mobile Devices + Tablets */
@media only screen and (min-width: 481px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background: url(wood_pattern.png);
  }

  body * {
    box-sizing: inherit;
  }

  label {
    opacity: 0.9;
    color: white;
    font-size: 2.1em;
    text-align: center;
    margin: auto;
    width: auto;
  }

  a {
    text-decoration: none;
    opacity: 0.5;
    color: white;
  }

  button {
    margin: 10px;
    font-size: 18px;
    border: 0;
    padding: 10px 16px;
    border-radius: 10px;
    color: rgb(189, 229, 255);
    background: rgb(0, 98, 163);
  }

  button:hover {
    cursor: pointer;
    background: rgb(35, 133, 199);
    box-shadow: 0px 0px 10px 5px rgba(35, 133, 199, 0.55);
  }

  .table {
    margin: 25px auto 25px auto;
    background: rgb(22, 77, 8);
    border: sienna solid 30px;
    border-radius: 100px;
    /* height: 85%; */
    text-align: center;
    width: auto;
  }

  /* .table { */
  /* width: 90%; */
  /* max-width: calc(100% - 20px); */
  /* border: 8px solid rgb(10, 43, 2);
    border-radius: 20px;
    background: rgb(22, 77, 8);
    margin: 80px auto 0px auto;
    color: white;
    padding: 30px; */
  /* } */

  .player {
    margin: 29px;
    height: 90%;
  }

  .player-name {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .points {
    font-style: italic;
  }

  .hand {
    background: rgba(10, 43, 2, 0.5);
    width: 99%;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 5px;
  }

  .hand img {
    height: 99%;
    width: auto;
    padding: 10px 0 10px 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }

  .title {
    justify-content: center;
  }

  .blackjack-title {
    color: mintcream;
    margin: 30px 0 0 0;
  }
}

/* Mobile Devices */
@media only screen and (min-width: 57px) and (max-width: 670px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background: url(wood_pattern.png);
  }

  body * {
    box-sizing: inherit;
  }

  button {
    margin: 10px;
    font-size: 18px;
    border: 0;
    padding: 10px 16px;
    border-radius: 10px;
    color: rgb(189, 229, 255);
    background: rgb(0, 98, 163);
  }

  button:hover {
    cursor: pointer;
    background: rgb(35, 133, 199);
    box-shadow: 0px 0px 10px 5px rgba(35, 133, 199, 0.55);
  }

  .table {
    border-radius: 45px;
    background: rgb(22, 77, 8);
    color: white;
    margin: 0px auto 0px auto;
    background: rgb(22, 77, 8);
    border: sienna solid 15px;
    text-align: center;
    width: auto;
  }

  .player {
    margin: 20px;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .player-name {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .points {
    font-style: italic;
  }

  .hand {
    display: flex;
    justify-content: center;
    background: rgba(10, 43, 2, 0.5);
    width: 99%;
    height: 80px;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 5px;
  }

  .hand img {
    height: 99%;
    width: auto;
    padding: 10px 0 10px 10px;
  }

  .buttons {
    display: flex;
    margin: 10px;
    justify-content: center;
  }
  .title {
    justify-content: center;
  }

  .blackjack-title {
    color: mintcream;
    margin: 30px 0 0 0;
    font-size: x-large;
  }
}
